[Unit]
Description=stunnel server (account DB)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/stunnel /etc/stunnel/stunnel-account-db-server.conf
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
