[Unit]
Description=Sync stunnel certs to DB host
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sync-stunnel-cert.sh
