service: pubsub
environment: dev
module:
  name: messaging
  source: git::https://github.com/terraform-google-modules/terraform-google-pubsub.git
  version: v7.1.0
inputs:
  project_id: xcontrol-dev-apps
  topic: dev-events
  message_retention_duration: 604800s
  schema:
    type: AVRO
    definition_file: schemas/dev-events.avsc
  subscriptions:
    - name: dev-events-primary
      push_endpoint: https://events.dev.xcontrol.dev/push
      ack_deadline_seconds: 20
      enable_message_ordering: true
      retry_policy:
        minimum_backoff: 10s
        maximum_backoff: 300s
labels:
  environment: dev
  owner: platform
